*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.main
{width: 100%;
height: 100%;
justify-content: center;}
main .my_image
{display: block;
   margin: 190px auto 4px auto;;
   text-align: center;
    align-self: center;
    border: 2px solid rgb(91, 91, 199);;
    border-radius: 50%;
 
}
main figcaption
{
    font-size: 30px;
    border: 2px solid rgb(173, 164, 164);
    width:750px;
    text-align: center;
    margin:auto;
    margin-top:2 px;
    border-radius: 6px;;
    
 
}

